html{
    font-size: $OPenIG-font-size-base;
}

body{
    position: relative;
    font-family: 'OpenSans_Regular';
}

main, main > .container{
    min-height: 1000px;
}

#block-openig-local-tasks{
    margin-top: 75px;
}

.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content{
    padding: 0;
}

// Positionnement image en haut de page
body.toolbar-horizontal.toolbar-tray-open #block-openig-imageenhautdepage{
    top: 50px;
}
body.toolbar-vertical.toolbar-tray-open #block-openig-imageenhautdepage, body.toolbar-horizontal #block-openig-imageenhautdepage, body.toolbar-vertical #block-openig-imageenhautdepage{
    top: 30px;
}

#block-openig-imageenhautdepage{
    position: absolute;
    top: -25px;
    right: 0;
    width: 65%;
    z-index: -1;
}

.path-frontpage{
    #block-openig-imageenhautdepage{
        position: fixed;
    }
}


// Positionnement image en bas de page
#block-openig-imageenbasdepage{
    position: absolute;
    width: 75%;
    bottom: 500px;
    left: 0;
    z-index: -1;
}

.region-premiere-section-accueil{
    position: relative;
}


// Haut de la page d'accueil

// Bloc phrase d'accroche header
#block-openig-phrasedaccrocheheader{
    position: relative;
    .accroche_header{
        position: relative;
        z-index: -2;
        height: 600px;
    }
    .contenu_accroche{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        height: fit-content;
        z-index: 2;
        .field--name-body{
            font-family: 'Russo One';
            font-size: $OPenIG-font-size-header-home;
            color: $OPenIG-color_black;
            text-align: center;
        }
    }
}

// Bloc description accueil
#block-openig-descriptionaccueil{
    position: relative;
    .description_header{
        position: relative;
        height: 400px;
    }
    .content_description{
        position: absolute;
        top: 45%;
        transform: translate(-50%, 0%);
        left: 50%;
        height: fit-content;
        z-index: 2;
        .field--name-body{
            font-family: 'OpenSans_Regular', sans-serif;
            font-size: $OPenIG-font-size-base;
            color: $OPenIG-color_black;
            text-align: center;
        }
        .field--name-field-lien{
            text-align: center;
            margin-top: 30px;
            a{
                font-family: 'Russo One';
                font-size: $OPenIG-font-size-lg;
                color: $OPenIG-color_dark-gray;
                border-bottom: 1px solid $OPenIG-color_red;
                text-decoration: none;
                padding-bottom: 5px;
            }
        }
    }

}

// Bloc image accueil
#block-openig-imageaccueil{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}

// Bloc actions dans l'association
#block-openig-actionsdanslassociation{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    .field--name-field-taxonomie{
        display: flex;
        justify-content: space-around;
        width: 900px;
        margin: auto;
        .contenu_action{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 125px;
            .image{
                height: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .taxonomy-term{
            width: 195px;
            height: 200px;
            background-color: $OPenIG-color_white;
            border-radius: 2rem;
            .content{
                height: 100%;
            }
            .lien_action{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $OPenIG-color_black;
                height: 100%;
            }
            img{
                height: fit-content;
                width: fit-content;
            }
            .verbe_action{
                //margin-top: 15px;
                font-family: 'Russo One';
                font-size: $OPenIG-font-size-lg;
            }
        }
    }
}


// Bouton partager
.addtoany_list{
    display: none;
}
.addtoany_list.open{
    display: flex;
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    i{
        color: $OPenIG-color_black;
        font-size: 24px;
        padding: 0 5px;
    }
}

#block-openig-addtoanysharebuttons-bas-page{
    .share_liste{
        margin-right: 2rem;
        margin-left: 1rem;
    }
}

#block-openig-addtoanysharebuttons, #block-openig-addtoanysharebuttons-bas-page{
    display: flex;
    align-items: baseline;
    .share_liste{
        height: 100px;
        border: 1px solid $OPenIG-color_gray;
        background-color: $OPenIG-color_deep-white;
        border-radius: 10px;
        align-items: center;
        padding: 0 10px;
    }
}

#button_share, #button_share_bas_page{
    float: right;
    height: 30px;
    margin-left: 10px;
    background-color: $OPenIG-color_blue;
    border: none;
    border-radius: 6px;
    color: $OPenIG-color_white;
    font-family: 'Exo_semiBold', sans-serif;
    font-weight: 600;
    font-size: $OPenIG-font-size-sm;
    padding: 5px 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    i{
        margin-right: 5px;
    }
}

// Bloc En savoir plus sur l'adhésion
.path-les-groupes-de-travail{
    #block-openig-ensavoirplussurladhesion{
        display: block;
        width: fit-content;
        margin-top: 20px;
    }
}
.page-node-type-groupe-de-travail{
    #block-openig-ensavoirplussurladhesion{
        display: block;
    }
}

.page-node-type-service{
    #block-openig-ensavoirplussurladhesion{
        display: block;
        margin-top: 20px;
    }
}


 #block-openig-ensavoirplussurladhesion{
    margin-top: 50px;
    margin-left: 25%;
    margin-bottom: 50px;
    display: none;
    width: 50%;
    .field--name-body{
        font-family: 'OpenSans_Regular', sans-serif;
        font-size: $OPenIG-font-size-base;
        color: $OPenIG-color_black;
    }
    .field--name-field-lien{
        a{
            font-family: 'Russo One';
            font-size: $OPenIG-font-size-base;
            color: $OPenIG-color_dark-gray;
            border-bottom: 1px solid $OPenIG-color_red;
            text-decoration: none;
            padding-bottom: 5px;
        }
    }
}

// Titres
h1{
    font-family:"Exo_semiBold";
    font-size: $OPenIG-font-size-h1;
    color: $OPenIG-color_black;
    font-weight: 600;
}


.title_share{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    //padding-bottom: 75px;
    margin-top: 1rem;
}

#block-openig-page-title{
    display: flex;
    align-items: flex-start;
    position: relative;
    height: fit-content;
    width: 75%;
    flex-wrap: wrap;
    img{
        height: 150px;
        position: absolute;
        left: -100px;
        z-index: 0;
        bottom: -75px;
    }
    .tags{
        margin-left: 30px;
        button{
            background-color: $OPenIG-color_white;
            border: 1px solid $OPenIG-color_blue;
            border-radius: 2rem;
            padding: 0 10px;
            font-size: $OPenIG-font-size-xs;
            margin-right: 10px;
            font-family: "Exo_regular", sans-serif;
            color: $OPenIG-color_black;
        }
    }
    h1{
        margin-bottom: 0;
        margin-left: 85px;
        position: relative;
        max-width: 75%;
        .field--name-title{
            position: relative;
            z-index: 1;
        }
    }
}

h2{
    font-family: "Exo_medium";
    font-size: $OPenIG-font-size-h2;
    border-bottom: 5px solid $OPenIG-color_light-blue;
    color: $OPenIG-color_black;
    font-weight: 500;
}

h3{
    font-family: "Exo_light";
    font-size: $OPenIG-font-size-h3;
    color: $OPenIG-color_black;
    font-weight: 300;
    margin: 2rem 0 1rem 0;
}

// paragraphs

.paragraph--type--title-text.paragraph--view-mode--sidebar{
    h2{
        font-family: 'Exo_semiBold';
        font-size: $OPenIG-font-size-base;
        padding-left: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $OPenIG-color_yellow;
    }
    .field--name-field-texte{
        margin-top: 10px;
        padding-left: 10px;
    }
}

.paragraph--type--texte-dropdown.paragraph--view-mode--sidebar{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    border-radius: 15px;
    overflow: hidden;
    .title_collapse{
        width: 100%;
        border: none;
        border-bottom: 1px solid $OPenIG-color_yellow;
        text-align: left;
        border-radius: 0;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        h2{
            margin-bottom: 0;
            border-bottom: 0;
            font-size: $OPenIG-font-size-base;
            font-family: 'Exo_semiBold';
            font-weight: 600;
        }
    }
    .title_collapse::after{
        content: '\f0d8';
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
    }
    .title_collapse.collapsed::after{
        content: '\f0d7';
    }
    .card-body{
        border-radius: 0;
        border: none;
    }
}

.paragraph--type--type-de-contenu.paragraph--view-mode--sidebar{
    .node--type-ressource.node--view-mode-sidebar{
        .node__content{
            border: 1px solid $OPenIG-color_deep-gray;
            border-radius: 5px;
            overflow: hidden;
        }
        a{
            display: block;
            font-family: 'Exo_semiBold';
            font-weight: 600;
            color: $OPenIG-color_black;
            text-decoration: none;
            width: fit-content;
        }
        a.titleRessource{
            border-bottom: 1px solid $OPenIG-color_black;
        }
        a.labelRessource{
            border-bottom: 1px solid $OPenIG-color_black;
            margin-top: 10px;
        }
    }
}

.paragraph--type--picto-text.paragraph--view-mode--vue{
    display: flex;
    .picto_verbe{
        display: flex;
        flex-direction: column;
        align-items: center;
        .field--name-field-image{
            width: 44px;
        }
        .field--name-field-verbe-action{
            font-size: $OPenIG-font-size-xs;
            text-align: center;
        }
    }
    .field--name-field-text{
        font-size: $OPenIG-font-size-xs;
        margin-left: 20px;
    }
}

.paragraph--type--texte-dropdown.paragraph--view-mode--default{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    border-radius: 20px;
    border-left: 2px solid $OPenIG-color_light-blue;
    border-right: 2px solid $OPenIG-color_light-blue;
    position: relative;
    padding-bottom: 40px;
    background-color: $OPenIG-color_white;
    .title_collapse{
        width: 100%;
        text-align: left;
        padding: 15px 20px 10px 20px;
    }
    h2{
        border-bottom: 1px solid $OPenIG-color_gray;
        padding-bottom: 15px;
    }
    .content_collapse{
        .card-body{
            border: none;
            padding: 0 20px;
        }
    }
    .icon_collapse{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        padding: 0;
        bottom: -25px;
        border: 5px solid $OPenIG-color_light-blue;
        width: 55px;
        height: 55px;
        box-shadow: inset 0px 3px 6px rgba(0, 0, 0, .16);
        border-radius: 50%;
        background-color: $OPenIG-color_white;
        margin: 0;
        i{
            font-size: 22px;
            color: $OPenIG-color_red;
            transform: rotate(0deg);
        }
    }
    .icon_collapse.collapsed{
        i{
            transform: rotate(180deg);
        }
    }
}

// Contenu de type titre et texte
.paragraph.paragraph--type--title-text.paragraph--view-mode--default {
    background-color: white;
    h2 {
      margin-bottom: 30px;
    }
}

// Bloc communiquer/mutualiser

#block-openig-communiquermutualiser{
    width: 280px;
    position: fixed;
    top: 425px;
    right: -85px;
    transform: rotate(-90deg);
    transform-origin: top;
    transition: all 0.5s ease-in-out 0s;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .16);
    z-index: 8;
    height: 325px;
    padding: 0;
    background-color: $OPenIG-color_white;
    overflow: hidden;
    button.buttonTitle{
        background-color: $OPenIG-color_white;
        border: none;
        border-bottom: 4px solid $OPenIG-color_yellow;
        width: 280px;
        border-radius: 0;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        h2{
            font-size: $OPenIG-font-size-base;
            transform: rotate(180deg);
            border-bottom: 0;
            font-family: 'Exo_semiBold';
            font-weight: 600;
            margin-bottom: 0;
        }
        i{
            margin-right: 15px;
            font-size: $OPenIG-font-size-md;
            padding-bottom: 2px;
        }
        i.open{
            transform: rotate(180deg);
        }
    }
    .collapse{
        width: 280px;
        height: 280px;
    }
    .card-body{
        transform: rotate(90deg);
        transform-origin: unset;
        width: 280px;
        height: 280px;
        border: none;
        border-radius: 0;
        background-color: $OPenIG-color_white;
        font-family: 'Exo_semiBold';
        font-weight: 600;
        font-size: $OPenIG-font-size-base;
        color: $OPenIG-color_black;
        padding: 20px;
        a{
            color: $OPenIG-color_black;
            font-size: $OPenIG-font-size-base;
            font-family: 'Exo_semiBold';
            font-weight: 600;
            text-decoration: none;
            border-bottom: 1px solid $OPenIG-color_black;
        }
    }
}
#block-openig-communiquermutualiser.contenthidden{
    right: 200px;

}

// Fil d'ariane
.navigation_filAriane{
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    a{
        color: $OPenIG-color_black;
        text-decoration: none;
        border-bottom: 1px solid $OPenIG-color_black
    }
    li.breadcrumb-item:not(:first-of-type)::before{
        content: '>';
    }
}

// Carousel
.slick--less .slick-track{
    text-align: start !important;
}
.slick{
    padding-bottom: 15px !important;
    .slick-list{
        padding-bottom: 10px !important;
        .b-grid, .blazy.b-grid, .item-list > .b-grid{
            width: fit-content !important;
            margin: auto !important;
        }

        .b-grid > .grid{
            width: fit-content !important;
        }

        .blazy .grid__content, .blazy .region__content{
            width: fit-content !important;
        }

        .slick__slide{
            width: 306px !important;
            height: 410px !important;
            margin-left: 20px;
            margin-right: 20px;
        }
        .slick img{
            max-width: fit-content;
        }
    }
    .slick__arrow{
        position: relative !important;
        top: unset !important;
        bottom: 0 !important;
        height: fit-content !important;
        display: flex !important;
        justify-content: space-between !important;
        width: 400px  !important;
        margin: auto !important;
        margin-top: 3rem !important;
        button.slick-arrow{
            position: relative !important;
            top: unset !important;
            transform: translateY(0) !important;
            background-color: $OPenIG-color_white !important;
            border-radius: 0 !important;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, .16) !important;
            border: none;
        }
        button.slick-arrow::before{
            color: $OPenIG-color_deep-gray!important;
            font-family: "Font Awesome 6 Free" !important;
            opacity: 1 !important;
        }
        button.slick-next::before{
            content: '\f054' !important;
        }
        button.slick-prev::before{
            content: '\f053' !important;
        }
    }

}

// Régions page d'accueil
.region-deuxieme-section-accueil{
    position: relative;
    .view-header{
        .header_block{
            position: relative;
        }
        .title_header{
            position: relative;
            height: 150px;
            display: flex;
            align-items: center;
            img{
                position: absolute;
                left: 0;
                height: 140px;
            }
            h2{
                width: fit-content;
                border-bottom: 0;
                margin-bottom: 0;
                font-family: 'Exo_semiBold';
                font-weight: 600;
            }
        }
        .texte_header{
            margin-left: 150px;
            width: 50%;
        }
        .nombre_header{
            position: absolute;
            top: 30px;
            right: 0px;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100px;
            .nombre{
                font-size: $OPenIG-font-size-numbers-home;
                font-family: 'Russo One';
                color: $OPenIG-color_gray;
            }
            .type_contenu{
                font-size: $OPenIG-font-size-base;
                font-family: 'Russo One';
                color: $OPenIG-color_gray;
                margin-top: -30px;
            }
        }
    }
}
.region-troisieme-section-accueil{
    position: relative;
    padding-bottom: 4rem;
    .view-header{
        height: 150px;
        .header_block{
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
        .title_header{
            position: relative;
            height: 150px;
            display: flex;
            align-items: center;
            float: right;
            img{
                position: absolute;
                left: 0;
                top: 0;
                height: 140px;
            }
            h2{
                width: fit-content;
                border-bottom: 0;
                font-family: 'Exo_semiBold';
                font-weight: 600;
            }
        }
        .texte_header{
            width: 50%;
            //margin: auto;
            padding-top: 75px;
            //margin-left: 350px;
        }
        .nombre_header{
            //position: absolute;
            padding-top: 30px;
            //top: 30px;
            //left: 0px;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100px;
            .nombre{
                font-size: $OPenIG-font-size-numbers-home;
                font-family: 'Russo One';
                color: $OPenIG-color_gray;
            }
            .type_contenu{
                font-size: $OPenIG-font-size-base;
                font-family: 'Russo One';
                color: $OPenIG-color_gray;
                margin-top: -30px;
            }
        }
    }
    #block-openig-views-block-les-actualites-actualite-mise-en-avant{
        position: relative;
    }
    #block-openig-views-block-les-actualites-actualites-accueil{
        margin-top: 4rem;
    }
}

.region-quatrieme-section-accueil{
    position: relative;
    .region_quatre{
        background-color: #f2f6e7;
        width: 90%;
        height: 500px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .view-header{
        .header_block{
            position: relative;
        }
        .title_header{
            position: relative;
            height: 150px;
            display: flex;
            align-items: center;
            img{
                position: absolute;
                left: 0;
                height: 140px;
            }
            h2{
                width: fit-content;
                border-bottom: 0;
                margin-bottom: 0;
                font-family: 'Exo_semiBold';
                font-weight: 600;
            }
        }
        .texte_header{
            margin-left: 150px;
            width: 50%;
        }
        .nombre_header{
            position: absolute;
            top: 30px;
            right: 0px;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100px;
            .nombre{
                font-size: $OPenIG-font-size-numbers-home;
                font-family: 'Russo One';
                color: $OPenIG-color_gray;
            }
            .type_contenu{
                font-size: $OPenIG-font-size-base;
                font-family: 'Russo One';
                color: $OPenIG-color_gray;
                margin-top: -30px;
            }
        }
    }
}

