.email-type-simplenews-newsletter {
  background-image: url('/themes/custom/openig/img/newsletter/mesh-colors.png');
  height: 20px;
  width: 50%;
  margin: auto;
}

/** Bloc logo  **/
.header #block-openig-newsletterlogo .field--name-field-image {
  text-align: center;
}

.header{
  background-color: #f2f6e7;
}

/** Bloc Phrase d'accroche  **/
.header #block-openig-newsletterphrasedaccroche .field--name-body p {
  font-family: 'Russo One';
  text-align: center;
  font-size: $OPenIG-font-size-base;
  font-weight: bold;
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0 !important;
}

// Titre email 
.node--type-simplenews-issue.node--view-mode-email-html{
  padding: 0;
  h1{
    height: 75px;
    background-color: $OPenIG-color_light-gray;
    width: 90%;
    text-align: center;
    font-size: $OPenIG-font-size-h1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.node--type-simplenews-issue {
  font-family: 'exo';
  background-color: white;
}
.node--type-simplenews-issue  .bloc-newsletter {
  margin: 50px auto;
}

.node--type-simplenews-issue .field--name-title {
  font-family: 'exo';
}
.node--type-simplenews-issue .field--name-title a {
  color: black;
  text-decoration: none;
}


/** Mois année **/
.node--type-simplenews-issue  .field--name-field-title, .field--name-field-date {
  font-family: 'Russo One';
  border: none;
}

.node--type-simplenews-issue .field--name-field-body {
  font-family: 'open sans';
}

.node--type-simplenews-issue .bloc-newsletter.mois-annee {
  text-align: center;
}
.node--type-simplenews-issue .bloc-newsletter.mois-annee .paragraph--type--mois-et-annee {
  font-size: $OPenIG-font-size-h2;
  font-family: 'Russo One';
  margin: 0 auto 3rem auto;
  color: $OPenIG-color_red;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  padding: 0.5rem 0.75rem;
  border-radius: 16px;
  text-transform: lowercase;
  font-weight: bold;
}
.node--type-simplenews-issue .bloc-newsletter.mois-annee .paragraph--type--mois-et-annee .field--name-field-mois {
  font-size: 1.2rem;
  border-bottom: 4px solid $OPenIG-color_black;
  font-weight: lighter;
}


/** Sommaire **/
.bloc-sommaire {
  position: relative;
  margin-bottom: 160px;
}

.sommaire {
  position: relative;
  //background-image: url('/themes/custom/openig/img/newsletter/bg-sommaire.png');
  //padding-top: 50px;
  //padding-bottom: 50px;
  //background-repeat: no-repeat;
  //object-fit: cover;
}

/** todo Pas pris en compte dans le template mail **/
.sommaire::after {
  content: "";
  background-image: url('/themes/custom/openig/img/newsletter/carre-rouge.png');
  position: absolute;
  left: -10px;
  height: 100px;
  width: 100px;
  bottom: -10px;
  top: -10px;
}

.sommaire::before {
  content: "";
  background-image: url('/themes/custom/openig/img/newsletter/carre-rouge.png');
  position: absolute;
  right: -10px;
  height: 100px;
  width: 100px;
  bottom: -10px;
}

.bloc-icon::before {
  content: "";
  background-image: url('/themes/custom/openig/img/newsletter/deco-sommaire-left.png');
  position: absolute;
  left: -10px;
  height: 100px;
  width: 100px;
  bottom: -110px;
  background-repeat: no-repeat;
}

.bloc-icon::after {
  content: "";
  background-image: url('/themes/custom/openig/img/newsletter/deco-sommaire.png');
  position: absolute;
  right: -61px;
  height: 100px;
  width: 100px;
  bottom: -10px;
  top: -88px;
  background-repeat: no-repeat;
}

.toc-js {
  display: block;
  border: none;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
  text-align: center;
  background-position: center;
  position: relative;
  z-index: 9;
}


.toc-js .toc-title.h2 {
  font-family: "Russo One";
  border: none;
  position: absolute;
  right: 50px;
  top: -15px;
}


/** Mot de président + Retour sur (fond vert) **/

.node--type-simplenews-issue{
  .paragraph--type--le-mot-du-president h2.field--name-field-title {
    font-weight: bold !important;
    font-size: $OPenIG-font-size-h2 !important;
  }
  .bloc-subtitle {
    display: flex;
  }
  .bloc-fond-vert {
    background-color: #f2f6e7;
    padding: 20px 0;
    .bloc-content {
      padding: 1rem 0.5rem;
      display: flex;
      position: relative;
      padding-bottom: 0;
      //justify-content: space-around;
      .field--name-field-image{
        border-radius: 50%;
        background-color: #D7DACE;
        width: 165px;
        height: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 1px solid $OPenIG-color_black;
        }
      } 
      .field--name-field-body {
        text-align: start;
        max-width: 60%;
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: $OPenIG-font-size-base !important;
      }
      .picto_quote{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 3rem;
        background-repeat: no-repeat;
      }
    }
    .field-auteur{
      margin-bottom: 1rem;
      .field--name-field-auteur {
        text-align: end;
        padding-right: 3rem;
      }
    }
  }
  
} 

.node--type-simplenews-issue{
  .node__content{
    .bloc-newsletter{
      > .paragraph{
        margin-top: 3rem;
      }
      /** titre bloc à gauche **/
      > .paragraph:nth-child(odd){
        .titre_rubrique{
          flex-direction: row;
        }
        h2.field--name-field-title {
          text-align: start;
          margin-left: 1rem;
        }
        .picto_titre{
          margin-right: 1rem;
        }
        .field--name-field-type-de-contenu{
          .title_container{
            display: flex;
            justify-content: end;
            .title_contenu{
              text-align: end;
            }
          }
          .field--name-field-tag{
            justify-content: end;
          }
          .field--name-created, .field--name-field-dates{
            text-align: end;
          }
        }
      }
      /** titre bloc à droite **/
      > .paragraph:nth-child(even){
        .titre_rubrique{
          flex-direction: row-reverse;
        }
        h2.field--name-field-title {
          margin-right: 1rem;
          text-align: end;
        }
        .picto_titre{
          margin-left: 1rem;
        }
        .field--name-field-type-de-contenu{
          .title_container{
            display: flex;
            justify-content: start;
            .title_contenu{
              text-align: start;
            }
          }
          .field--name-field-tag{
            justify-content: start;
          }
          .field--name-created, .field--name-field-dates{
            text-align: start;
          }
        }
      } 
    }
  }
  .node--type-article, .node--type-evenement{
    margin-top: 2rem;
    .tags {
      display: none;
    }
    .field--name-field-tag {
      display: flex;
      .field__item {
        border: 1px solid #C2DB7E;
        border-radius: 21px;
        padding: 0.1rem 0.75rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
      }
    }
    .field--name-created{
      display: block;
      margin-bottom: 1rem;
    }
    h2.title_contenu{
      a{
        text-decoration: none;
        color: $OPenIG-color_black;
        font-weight: bold;
        font-size: $OPenIG-font-size-h2 !important;
      }
      max-width: 50%;
      border-bottom: 0 !important;
    }
    .field--name-field-image {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
    }
    .node__meta{
      display: none;
    }
  }
  .node--type-evenement{
    .paragraph--type--title-text{
      h2.field--name-field-title{
        padding-top: 0;
        margin-bottom: 0;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-bottom: 0 !important;
        font-weight: bold !important;
      }
    }
    .node__content > .field{
      margin-bottom: 0;
    }
  } 
}

.titre_rubrique{
  display: flex;
  .title{
    width: 100%;
    h2.field--name-field-title{
      font-weight: bold !important;
      font-size: $OPenIG-font-size-h2 !important;
    }
  }
  .picto_titre{
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    background-size: contain;
  }
}


.node--type-simplenews-issue .node__content .bloc-newsletter .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.node--type-simplenews-issue .node__content .bloc-newsletter .row .col-1 {
  width: 10%;
}
.node--type-simplenews-issue .node__content .bloc-newsletter .row .col-11 {
  width: 80%
}

.node--type-simplenews-issue .node__content .bloc-newsletter .field--name-field-title {
  margin-bottom: -1rem;
  padding-top: 8px;
}

.node--type-simplenews-issue .node__content .bloc-newsletter .cadre-gris-title {
  background-color: #EAEAEA;
  height: 30px;
  width: auto;
}

.node--type-simplenews-issue .node__content .bloc-newsletter .paragraph--type--fond-vert .field--name-field-body {
  text-align: start !important;
}

.node--type-simplenews-issue .node__content .bloc-newsletter h3 {
  font-family: 'exo';
  font-weight: 500;
  color: black;
}


/** Bienvenu **/
.paragraph--type--bienvenue{
  .field--name-field-contenu{
    margin-top: 2rem;
  }
  .field--name-field-image {
    display: flex;
    justify-content: center;
    img{
      margin-right: 1rem;
    }
  }
  
} 




/** Agenda **/
.paragraph--type--agenda .field--name-field-type-de-contenu .tags {
  display: none;
}
.paragraph--type--agenda .field--name-field-type-de-contenu h2 {
  color: black;
}

.paragraph--type--agenda .field--name-field-type-de-contenu h2 a {
  text-decoration: none;
}

.paragraph--type--agenda .field--name-field-type-de-contenu .field--name-field-tag {
  display: flex;
}
.paragraph--type--agenda .field--name-field-type-de-contenu .field--name-field-tag .field__item {
  border: 1px solid #C2DB7E;
  border-radius: 21px;
  margin: 10px 5px;
  padding: 2px 8px;
}

.paragraph--type--agenda .field--name-field-type-de-contenu .field--name-field-image {
  display: flex;
  justify-content: space-around;
}
.paragraph--type--agenda .field--name-field-type-de-contenu .node__meta{
  display: none;
}


/** A Savoir **/
.paragraph--type--a-savoir .field--name-field-type-de-contenu .tags {
  display: none;
}
.paragraph--type--a-savoir .field--name-field-type-de-contenu h2 {
  color: black;
}

.paragraph--type--a-savoir .field--name-field-type-de-contenu h2 a {
  text-decoration: none;
}

.paragraph--type--a-savoir .field--name-field-type-de-contenu .field--name-field-tag {
  display: flex;
}
.paragraph--type--a-savoir .field--name-field-type-de-contenu .field--name-field-tag .field__item {
  border: 1px solid #C2DB7E;
  border-radius: 21px;
  margin: 10px 5px;
  padding: 2px 8px;
}

.paragraph--type--a-savoir .field--name-field-type-de-contenu .field--name-field-image {
  display: flex;
  justify-content: space-around;
}
.paragraph--type--a-savoir .field--name-field-type-de-contenu .node__meta{
  display: none;
}



/*** Coup de projecteur ***/
.node--type-simplenews-issue .paragraph--type--coup-de-projecteur .field--name-field-type-de-contenu .tags {
  display: none;
}

.node--type-simplenews-issue .paragraph--type--coup-de-projecteur .field--name-field-type-de-contenu .field--name-field-tag {
  display: flex;
}
.node--type-simplenews-issue .paragraph--type--coup-de-projecteur .field--name-field-type-de-contenu .field--name-field-tag .field__item{
  border: 1px solid #C2DB7E;
  border-radius: 21px;
  margin: 10px 5px;
  padding: 2px 8px;
}
.node--type-simplenews-issue .paragraph--type--coup-de-projecteur .field--name-field-image {
  display: flex;
  justify-content: space-around;
}



/** Bloc Nous suivre **/
.footer #block-openig-socialmedialinks {
  margin: 100px auto;
  text-align: center;
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 24%;
}
.footer #block-openig-socialmedialinks h2 {
  font-family: "OpenSans_Bold", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #0a0909;
  margin-bottom: 1rem;
  border-bottom: none !important;
}
.footer #block-openig-socialmedialinks .social-media-links--platforms {
  display: flex;
  justify-content: center;
}
.footer #block-openig-socialmedialinks .social-media-links--platforms li a {
  color: #0a0909;
}

/** Bloc Menu pied de page **/
.footer #block-openig-newslettermenufooter {
  background-color: #585756;
  margin: 70px 0;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.footer #block-openig-newslettermenufooter .field--name-field-lien {
  display: flex;
}
.footer #block-openig-newslettermenufooter .field--name-field-lien .field__item span::after {
  content: "|";
}
.footer #block-openig-newslettermenufooter .field--name-field-lien  .field__item span {
  color: #f0f0ef;
  padding-right: 10px;
}

.footer ul{
  list-style-type : none;
}


