.node--type-simplenews-issue{
  font-family: 'exo';
  //text-align: center;
  background-color: white;

  .bloc-newsletter {
    margin: 50px auto;
  }

  .field--name-title {
    font-family: 'exo';
    a {
      color: black;
      text-decoration: none;
    }
  }
  .field--name-field-title, .field--name-field-date{
    font-family: 'Russo One';
    border: none;
  }

  .field--name-field-body {
    font-family: 'open sans';
  }

  .bloc-newsletter.mois-annee{
    text-align: center;
    .paragraph--type--mois-et-annee{
      font-size: 1.5rem;
      font-family: 'Russo One';
      margin: 20px auto 50px auto;
      color: #BE1621;
      display: inline-block;
      border: 1px solid black;
      text-align: center;
      padding: 12px 14px;
      border-radius: 16px;
      text-transform: lowercase;
      .field--name-field-mois{
        font-size: 1.2rem;
      }
    }
  }

  /** Mot de président + Retour sur (fond vert) **/
  .paragraph--type--le-mot-du-president {
    h2 {
      padding-top: 8px;
      text-align: start;
      margin: 0 0 -13px 10px;
    }
  }

  .paragraph--type--fond-vert {
    h2 {
      padding-top: 8px;
      text-align: start;
      margin: 0 0 -13px 10px;
    }
    .field--name-field-body {

    }
  }

  .bloc-subtitle {
    display: flex;
  }
  .bloc-fond-vert {
    background-color: #f2f6e7;
    padding: 20px 0;
    .bloc-content {
      padding: 25px 15px;
      display: flex;
      justify-content: space-around;
      .field--name-field-image{
        img {
          border-radius: 50%;
        }
      }
    }
    .field--name-field-body {
      text-align: start;
    }
    .field-auteur {
      .field--name-field-auteur {
        text-align: end;
        padding-right: 100px;
      }
    }
  }

  /** titre bloc à gauche **/
  .node__content .bloc-newsletter:nth-child(odd) {
    .row{
      text-align: end;
    }
    .h3 {
      text-align: start;
    }
  }

  /** titre bloc à droite **/
  .node__content .bloc-newsletter:nth-child(even) {
    .row {
      text-align: start;
      .col-11 {
        order: 2;
        }
    }
    .h3 {
      text-align: end;
    }
  }


  .field--name-field-title {
    margin-bottom: -14px;
    padding-top: 8px;
  }

  .cadre-gris-title {
    background-image: url('/themes/custom/openig/img/newsletter/cadre-gris-titre-right.png');
    height: 20px;
    width: auto;
  }

  .paragraph--type--fond-vert .field--name-field-body {
    text-align: start !important;
  }

  h3 {
    font-family: 'exo';
    font-weight: 500;
  }

  /** Bienvenu **/
  .field--name-field-bienvenue {
    margin: 40px auto;
  }


  /** paragraph--type--a-savoir **/
  .paragraph--type--a-savoir {
    .field--name-field-type-de-contenu {
      .tags {
        display: none;
      }
      .field--name-field-tag {
        display: flex;
        .field__item{
          border: 1px solid #C2DB7E;
          border-radius: 21px;
          margin: 10px 5px;
          padding: 2px 8px;
        }
      }
      .field--name-field-image {
        display: flex;
        justify-content: space-around;

      }
      .node__meta{
        display: none;
      }
    }
  }



  /*** Coup de projecteur ***/
  .paragraph--type--coup-de-projecteur {
    .field--name-field-type-de-contenu {
      .tags {
        display: none;
      }
    .field--name-field-tag {
      display: flex;
      .field__item{
        border: 1px solid #C2DB7E;
        border-radius: 21px;
        margin: 10px 5px;
        padding: 2px 8px;
      }
    }
    .field--name-field-image {
      display: flex;
      justify-content: space-around;

    }
    }
  }
}

/** Bloc nous suivre **/
#block-openig-socialmedialinks{
  margin: 100px;
  h2{
    font-family: "OpenSans_Bold", sans-serif;
    font-size: $OPenIG-font-size-base;
    font-weight: 700;
    color: $OPenIG-color_black;
    margin-bottom: 1rem;
    border-bottom: none !important;
  }
  .social-media-links--platforms{
    display: flex;
    justify-content: flex-end;
    li{
      a{
      a{
        color: $OPenIG-color_black;
      }
    }
   }
  }
}


/** Sommaire **/
.toc-js {
  display: block;
  border: none;
  background-image: url('/themes/custom/openig/img/newsletter/bg-sommaire.png');
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
  text-align: center;
  //background-position: center;
}

.toc-js .toc-title.h2 {
  font-family: "Russo One";
  border: none;
}

.toc-js {
  background: #e4e0e057;
  padding: 1rem; /* make left a little more */
  width: fit-content;
  min-width: 500px;
  margin-top: 2rem;
  border: 1px solid #cbcbcb;
}
.toc-js ul {
  padding-left: 0;
}
.toc-js a {
  color: var(--body-color);
}
.toc-title {
  font-size: 1.2rem;
}
.toc-h2 {
  font-weight: 600;
  margin-left: 1rem;
}
.toc-h3 {
  margin-left: 2rem;
  list-style: circle;
}
