.field.field--name-field-contenu-sidebar.field--type-entity-reference-revisions.field--label-hidden.field__items {
  margin-right: 1rem;
  & > div {
    margin-bottom: 5rem;
  }
}

.field.field--name-field-body.field--type-entity-reference-revisions.field--label-hidden.field__items {
  & > div {
    margin-bottom: 5rem;
  }
}
