.node--type-page{
  margin-top: 5rem;
  .field--name-field-contenu-sidebar{
    > .field__item:not(:first-of-type){
        margin-top: 5rem;
    }
  }
  
  .field--name-field-body {
   > .field__item {
      margin-bottom: 4rem;
    }
  }

  .no_sidebar{
    margin: auto;
  }
  
}