// Fiche service

.notLogged{
    margin-top: 5rem;
}
.node--type-service{
    .no_sidebar{
        margin: auto;
    }
    .field--name-field-body{
        .paragraph{
            margin-bottom: 4rem;
        }
    }
    .sidebar{
        margin-top: 3rem;
        .field--name-field-image{
            border-radius: 10px;
            overflow: hidden;
        }
    }
    #block-openig-views-block-contacts-gt-contacts-service, .field--name-field-requirement{
        background-color: rgb(255, 255, 255, 0.6);
        margin-bottom: 5rem;
        h2{
            border-bottom: 1px solid $OPenIG-color_yellow;
            font-family: 'Exo_semiBold';
            font-size: $OPenIG-font-size-base;
            padding-bottom: 10px;
            padding-left: 10px;
        }
        .views-row{
            margin-left: 10px;
            margin-top: 10px;
            a{
                color: $OPenIG-color_black;
                text-decoration: none;
                border-bottom: 1px solid $OPenIG-color_black;
                font-family: 'Exo_semiBold';
                font-weight: 600;
            }
            .views-field-mail{
                margin-top: 10px;
            }
        }
        .views-row:not(:first-of-type){
            margin-top: 20px;
        }
        .nom-prenom{
            display: flex;
            .views-field-field-firstname{
                margin-right: 5px;
            }
        }
    }
    
    .field--name-field-requirement{
        .field__item{
            margin-top: 10px;
            margin-left: 10px;
        }
    }
    .btnShareUtiliser{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin: auto;
        margin-top: 50px;
        border-top: 1px solid $OPenIG-color_gray;
        padding-top: 35px;
        min-width: 400px;
        width: fit-content;
        .btnUtiliser{
            margin-bottom: 0;
        }
    }

    #accordionService{
        .accordion-item{
            border: none;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
            border-radius: 5px;
            border: 1px solid $OPenIG-color_deep-white;
            font-size: $OPenIG-font-size-sm;
            .field--name-field-animators, .field--name-field-members{
                column-count: 3;
            }
            .field--name-field-animators, .field--name-field-members, .content_ressources{
                //column-count: 3;
                .file{
                    background-image: none;
                    padding-left: 0;
                }
                a{
                    color: $OPenIG-color_black;
                    text-decoration: none;
                    border-bottom: 1px solid $OPenIG-color_black;
                }
                .profile{
                    display: flex;
                    .field--name-field-firstname{
                        margin-right: 5px;
                    }
                }
            }
            .content_ressources{
                .locked{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    p{
                        margin-bottom: 0;
                    }
                    p.itemPrivate{
                        display: flex;
                        align-items: center;
                        font-size: $OPenIG-font-size-xs;
                    }
                    i{
                        margin-left: 1rem;
                        color: $OPenIG-color_blue;
                        font-size: 16px;
                    }
                }
                .node--type-ressource{
                    .node__content{
                        margin-top: 0;
                    }
                }
                > div:not(:last-of-type){
                    margin-bottom: 1.5rem;
                }
            }
            .field__item{
                margin-bottom: 5px;
            }
            
            .accordion-disabled{
                .itemPrivate{
                    position: absolute;
                    right: 2rem;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: $OPenIG-font-size-sm;
                    font-family: 'OpenSans_Regular';
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    i{
                        margin-left: 1rem;
                        color: $OPenIG-color_blue;
                        font-size: 18px;
                    }
                }
                button::after{
                    background-image: none;
                }
            }
        }
        .accordion-item.open{
            border-left: 4px solid $OPenIG-color_blue;
        }
        h2.accordion-header{
            border-bottom: none;
            font-family: 'Exo_semiBold';
            font-weight: 600;
            .numberTitle{
                font-size: $OPenIG-font-size-xs;
                background-color: $OPenIG-color_yellow;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -15px;
                margin-left: 10px;
            }
        }
        .accordion-button{
            padding: 25px;
        }
        .accordion-button:not(.collapsed){
            background-color: $OPenIG-color_light-gray;
            border: 1px solid $OPenIG-color_deep-white;
            color: $OPenIG-color_black;
        }
        .accordion-button:focus{
            box-shadow: none;
            border: none;
        }
    }

    .liste_accordeon{
        border-radius: 10px;
        border: 1px solid $OPenIG-color_gray;
        overflow: hidden;
        margin-top: 4rem;
        h2{
            font-family: 'Exo_semiBold';
            font-weight: 600;
            font-size: $OPenIG-font-size-base;
            margin-bottom: 0;
            border-bottom: none;
        }
        .item_accordeon:not(:last-of-type){
            border-bottom: 1px solid $OPenIG-color_gray;
        }
        .item_accordeon{            
            font-size: $OPenIG-font-size-sm;
            background-color: $OPenIG-color_white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
            i{
                color: $OPenIG-color_blue;
                margin-left: 10px;
                font-size: $OPenIG-font-size-base;
            }
        }
    }
}

.buttonUse{
    float: right;
    height: 30px;
    background-color: $OPenIG-color_blue;
    border: none;
    border-radius: 6px;
    color: $OPenIG-color_white;
    font-family: 'Exo_semiBold', sans-serif;
    font-weight: 600;
    font-size: $OPenIG-font-size-sm;
    padding: 5px 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    i{
        margin-right: 10px;
        font-size: 16px;
    }  
}

.btnUtiliser{
    height: 30px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    button{
        float: right;
        height: 30px;
        background-color: $OPenIG-color_blue;
        border: none;
        border-radius: 6px;
        color: $OPenIG-color_white;
        font-family: 'Exo_semiBold', sans-serif;
        font-weight: 600;
        font-size: $OPenIG-font-size-sm;
        padding: 5px 15px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
        i{
            margin-right: 10px;
            font-size: 16px;
        }  
    }
    #block-openig-messageblocutiliserinaccessible{
        margin-right: 10px;
    }
}

// Vue Services
.view-les-services.view-display-id-services{
    margin-top: 5rem;
    .view-content{
        margin-top: 2rem;
    }
}
.view.view-les-services{
    .field--name-field-picto-et-texte{
        background-color: rgb(255, 255, 255, 0.6);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > .field__item{
            width: 45%;
        }
    }     
    .view-content{
        .card{
            border: none;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, .16);
            border-radius: 20px;
            .card-body{
                display: flex;
                flex-direction: column;
            }
            .card-header{
                background-color: transparent;
                padding: 20px;
                border-bottom-width: 2px;
            }
            .top-card{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .views-field-title{
                a{
                    color: $OPenIG-color_black;
                    font-family: 'Exo_semiBold';
                    font-size: $OPenIG-font-size-base;
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
            .views-field-nothing{
               width: 40px;
               margin-left: 10px;
               span{
                width: 40px;
                height: 40px;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
               }
            }
            .views-field-field-image{
                width: 115px;
                height: 115px;
                border-radius: 100%;
                background-color: $OPenIG-color_light-blue;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem;
                .field-content{
                    overflow: hidden;
                    border: 1px solid $OPenIG-color_deep-gray;
                    border-radius: 100%;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $OPenIG-color_white;
                    img{
                        height: 100px;
                        max-width: fit-content;
                        display: block;
                        margin: auto;
                    }
                }
            }
            .views-field-field-tag{
                margin-top: 1rem;
                width: 100%;
                .field-content{
                    width: 100%;
                }
                a{
                    border: 1px solid $OPenIG-color_blue;
                    border-radius: 50px;
                    padding: 2px 10px;
                    font-size: $OPenIG-font-size-xs;
                    text-decoration: none;
                    color: $OPenIG-color_black;
                    margin-right: 10px;
                    font-family: 'Exo_regular';
                }
            }
            .views-field-field-body{
                font-size: $OPenIG-font-size-sm;
                margin-top: 1rem;
            }
            .views-field-view-node{
                margin-top: 1rem;
                text-align: right;
                a{
                    font-family: 'Exo_semiBold';
                    font-size: $OPenIG-font-size-sm;
                    font-weight: 600;
                    color: $OPenIG-color_black;
                    text-decoration: none;
                    border-bottom: 1px solid $OPenIG-color_black;
                }
            }
        }
    }
    .more-link{
        text-align: center;
        position: relative;
        z-index: 1;
        a{
            font-family: 'Russo One';
            font-size: $OPenIG-font-size-lg;
            color: $OPenIG-color_dark-gray;
            text-decoration: none;
            border-bottom: 1px solid $OPenIG-color_red;
            padding-bottom: 5px;
        }
    }
    .paragraphs-description .paragraphs-content-wrapper, .paragraphs-description .paragraphs-plugin-wrapper{
        height: fit-content;
    }
    .paragraphs-description .summary-content{
        color: $OPenIG-color_black;
    }
}

.view-les-services{
    .row_service{
        margin-bottom: 2rem;
    }
}

// Bloc page d'accueil


#block-openig-views-block-les-services-services-accueil{
    position: relative;
    margin-top: 10rem;
    height: fit-content;
    padding-bottom: 2rem;
    .region_cinq{
        background-color: $OPenIG-color_deep-white;
        width: 90%;
        height: 100%;
        max-height: 650px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .view{
        display: flex;
        flex-direction: column-reverse;
    }
    .view-header{
        .header_block{
            position: relative;
            padding-bottom: 3rem;
        }
        .title_header{
            position: relative;
            width: 100%;
            height: 150px;
            .picto_titre{
                height: 150px;
                display: flex;
                align-items: center;
                width: fit-content;
                float: right;
                position: relative;
                span{
                    height: 110px;
                    width: 130px;
                    background-repeat: no-repeat;
                }
            }
            img{
                position: absolute;
                max-height: 140px;
                right: 0;
                height: fit-content;
            }
            h2{
                width: fit-content;
                border-bottom: 0;
                margin-bottom: 0;
                font-family: 'Exo_semiBold';
                font-weight: 600;
                margin-top: -20px;
                margin-right: -20px;
                z-index: 1;
            }
        }
        .texte_header{
            width: 50%;
            float: right;
        }
        .nombre_header{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100px;
            .nombre{
                font-size: $OPenIG-font-size-numbers-home;
                font-family: 'Russo One';
                color: $OPenIG-color_gray;
            }
            .type_contenu{
                font-size: $OPenIG-font-size-base;
                font-family: 'Russo One';
                color: $OPenIG-color_gray;
                margin-top: -30px;
            }
        }
    }
}
