// Theme variables.

$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;

$table-striped-bg: #f9f9f9 !default;


$OPenIG-color_yellow: #FDB914 !default;
$OPenIG-color_black: #0A0909 !default;
$OPenIG-color_green: #95C11E !default;
$OPenIG-color_red: #BE1621 !default;
$OPenIG-color_blue: #00A09A !default;


$OPenIG-color_deep-white: #F0F0EF !default;
$OPenIG-color_medium-white: #F8F8F8 !default;
$OPenIG-color_white: #FFFFFF !default;


$OPenIG-color_dark-gray: #585756 !default;
$OPenIG-color_deep-gray: #707070 !default;
$OPenIG-color_gray: #878786 !default;
$OPenIG-color_light-gray: #EDEDED !default;


@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');