@import 'variables_drupal';


header{
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    position: sticky;
    padding: 15px 0;
    font-family:"Russo One", sans-serif;
    font-size: 14px;
    color: $OPenIG-color_dark-gray;
    .navigation{
        display: flex;
        justify-content: space-around;
        .region-navigation-premiere-section, .region-navigation-deuxieme-section, .region-navigation-troisieme-section{
            display: flex;
            align-items: center;
            nav ul{
                flex-direction: row;
                li.nav-item{
                    display: flex;
                    align-items: center;
                }
                li.nav-item:not(:last-of-type)::after{
                    content: '|';
                }
            }
        }
        #block-openig-branding{
            .navbar-brand{
                img{
                    height: 72px;
                }
            }   
        }
        .region-navigation-deuxieme-section{
            nav ul{
                li.nav-item:not(:last-of-type)::after{
                    color: $OPenIG-color_red;
                }
            }
        }
        .region-navigation-troisieme-section{
            nav{
                border-left: 4px solid $OPenIG-color_red;
                margin-left: 5px;
            }
        }
    }

    .search-block-form{
        #search-block-form{
            display: none;
        }
        #search-block-form.open{
            display: block;
        }
        #search_icon{
            background-color: transparent;
            border: none;
            i{
                font-size: 22px;
                color: $OPenIG-color_dark-gray;
            }
        }
    }
   
}