// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

// Font family

$fa-font-path: "../fonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Exo_regular';
    src: url('../fonts/RussoOne-Regular.ttf');
    font-family: 'Exo_semiBold';
    src: url('../fonts/Exo/Exo-SemiBold.ttf');
}

@font-face {
    font-family: 'OpenSans_Regular';
    src: url('../fonts/OpenSans/static/OpenSans-Regular.ttf');
    font-family: 'OpenSans_Bold';
    src: url('../fonts/OpenSans/static/OpenSans-Bold.ttf');
}


// Files scss

@import 'custom';
@import 'header';
@import 'footer';