
{% include '@openig_search/_nav_openig_search.html.twig' %}

<div class="search-results">
  <div class="container bloc_filtres">
    <div class="formulaire_filtre d-xl-block d-none">
      <button type="button" class="btn-close-filtre"><i class="fa-solid fa-xmark"></i></button>
      <div class="d-xl-block d-none">
        {#        {{ render_block('openig_formulaireexpose_block_filter_search_internal') }}#}
        <h2>Filtrer la recherche</h2>
        {{ drupal_block('views_exposed_filter_block:resultats_de_recherche-block_filter_search_internal', wrapper=false) }}
      </div>
    </div>

    {# btn filtrer #}
    <button type="button" class="btn_filtre"><i class="fa-regular fa-filter"></i>Filtrer</button>
    {# Content #}
    <div class="layout-content">
      {#      {{ render_block('openig_views_block_filter_search_internal') }}#}
      <div id="block-openig-views-block-filter-search-internal">
        {{ drupal_block('views_block:resultats_de_recherche-block_filter_search_internal', wrapper=false) }}
      </div>
    </div>
  </div>
</div>

